#gameGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 18px;
}

.card {
  width: 100%;
  box-sizing: border-box;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.card .img-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #111;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.card h3 {
  margin: 10px 0 5px;
}
