
#gameGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 18px;
}

.card {
  width: 100%;
  box-sizing: border-box;
  background: #1e1e1e;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
